extends layout

block content
  div
    h1#intro= title
    p#greet Welcome to #{title}
    p#info This is for Project One in my API course. It takes info from
      a(href = "https://openweathermap.org/") openweathermap.org
    p#info Thanks to that, I was able to make a weather report for Chicago, as well as other cities you can call.
    p#info Currently Chicago is on display, but that can be adjusted with the nearby dropdown menu.
    p The API lists the weather report over the next 5 days in intervals of 3 hours.

    h2#head Current City: ${currentCity}
    p Displayed in: ${units}
  table#allReports
    thead
      tr#tHeading
        th time
        th Temperature (F)
        th Min Temp (F)
        th Max Temp (F)
        th Weather
        th Cloudiness
        th Humidity
        th Wind Speed (mph)
        th Wind direction
        th Pressure (hPa)
    tbody
      - let counter = 0;
      while counter < displays
        tr
          td #{reports[counter].date}
          td #{reports[counter].temp}
          td #{reports[counter].min}
          td #{reports[counter].max}
          td #{reports[counter].weath}
          td #{reports[counter].cloud}
          td #{reports[counter].hum}
          td #{reports[counter].speed}
          td #{reports[counter].dir}
          td #{reports[counter].pres}
        - counter++;
